/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=JetBrains+Mono:wght@300;400&family=Roboto+Mono:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');

body, html, #app, .pseudobody {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow-y: hidden;
}

.pseudobody {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--main-color);
  overflow: auto;
}

a {
  color: var(--font-color);
}

.g-label {
  padding-bottom: 0.5em;
}

.g-header {
  font-size: 1.7em;
  margin-bottom: 10px;
}

.g-subtitle {
  font-size: 1.3em;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

.g-text-button {
  display: inline;
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color);
}

.g-typing {
  border: 1px solid var(--font-color);
  border-radius: 3px;

  padding: 10px;
  margin-bottom: 10px;

  font-family: var(--typing-font), monospace;
  font-weight: 300;
  font-size: 1.2em;

  height: auto;
  line-height: normal;
  outline: 0;

  white-space: pre-wrap;
  overflow-wrap: normal;
}

.g-button {
  border: 1px solid var(--font-color);
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.g-button.disabled {
  pointer-events: none;
  opacity: 0.6;
}

input[type="text"] {
  color: var(--font-color);
  background: var(--main-color);
  font-size: 1em;
}